:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: transparent;
  opacity: 1;
  animation-duration: 12s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.multiselect__tag {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.emotion-happy {
  background-color: #c4a600 !important;
} /* Soft muted gold */
.emotion-joyful {
  background-color: #e2882d !important;
} /* Deeper soft orange */
.emotion-grateful {
  background-color: #a97b88 !important;
} /* Dusty rose */
.emotion-playful {
  background-color: #d94c4c !important;
} /* Warmer soft red */
.emotion-cheerful {
  background-color: #5ca9d3 !important;
} /* Softened sky blue */
.emotion-content {
  background-color: #7ca991 !important;
} /* Deeper seafoam */
.emotion-hopeful {
  background-color: #5fbf97 !important;
} /* Mid-tone mint green */
.emotion-peaceful {
  background-color: #7d91ab !important;
} /* Dusty blue */
.emotion-serene {
  background-color: #6ba8d6 !important;
} /* Muted soft blue */
.emotion-relaxed {
  background-color: #6c8f36 !important;
} /* Dusty moss green */
.emotion-neutral {
  background-color: #999999 !important;
} /* Muted gray */
.emotion-reflective {
  background-color: #766c8f !important;
} /* Smoky violet */
.emotion-nostalgic {
  background-color: #99886d !important;
} /* Dusty sand tone */
.emotion-bittersweet {
  background-color: #464858 !important;
} /* Muted steel blue */
.emotion-wistful {
  background-color: #9a89b3 !important;
} /* Soft muted lavender */
.emotion-longing {
  background-color: #355d94 !important;
} /* Dusty deep blue */
.emotion-uneasy {
  background-color: #556070 !important;
} /* Stormy gray-blue */
.emotion-anxious {
  background-color: #41555e !important;
} /* Deep smoky teal */
.emotion-melancholy {
  background-color: #3e4a6b !important;
} /* Midnight steel blue */
.emotion-depressed {
  background-color: #1a1a30 !important;
} /* Deeper navy black */
.emotion-sad {
  background-color: #5c6d82 !important;
} /* Dusty blue-gray */

.multiselect__option--highlight {
  background: rgba(0, 0, 0, 0.8) !important;
}

.multiselect__option--highlight:after {
  display: none;
}

.multiselect__tag-icon::after {
  color: #fff;
}

.fixed-top .multiselect__tags {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.fixed-top .multiselect__content-wrapper {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.fixed-top .multiselect__option--selected {
  background: rgba(255, 255, 255, 0.5);
}

.fixed-top .multiselect__option--selected:after {
  display: none;
}
.multiselect__input {
  position: absolute !important;
  margin: 0 !important;
  top: 0;
  left: 0;
  padding: 0 !important;
  z-index: 0;
  overflow: hidden !important;
  max-height: 0 !important;
  min-height: 0 !important;
  height: 0 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
